<h1>購物車內容</h1>
<%= link_to '清除購物車', cart_path, method: "delete", data: {confirm: "確定清除購物車?!"}, class:'btn btn-sm btn-danger' %>

<%= render "cart", cart: @cart %>

<%= link_to '繼續選購', root_path, class:'btn btn-default' %>
<%= link_to '結帳', checkout_cart_path, class:'btn btn-danger' %>


